.contact-form {
    display: grid;
    grid-template-columns: 130px 1fr;  
}

.contact-form > label {
    margin-bottom: 10px;
}

.cls-form-input {
    margin-bottom: 10px;
    background-color: antiquewhite;
    border-style: inset;

}

.contact-form > input:hover, .contact-form > textarea:hover  {
    background-color: gainsboro;
}


.contact-form > textarea {
    grid-column: 1/3;
    margin-bottom: 10px;
    background-color: antiquewhite;
    resize: none;
}

.submit-wrapper {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}

.cls-submit {
    width: fit-content;
    height: fit-content;
}
