body {
    display: block;
    font-family: Verdana;
    font-size: large;
    color: brown;
    margin: 0px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 50px;
    background-color: blanchedalmond;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bolder;
    
}

.nav-links {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

.active-page {
    color:brown;
    text-decoration-style: wavy;
    margin-inline: 10px;
}

.non-active-page {
    margin-inline: 10px;
    text-decoration: solid;
    color: brown;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px - 50px);
    background-color: skyblue;
    font-size: x-large;
    color: black;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: blanchedalmond;
    
}